body {
  width: 350px;
  padding: 0;
  margin: 0; }
  body md-content .md-button.fill-button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%); }
  body md-content .read-container {
    max-height: 50px; }
  body md-content .save-button {
    max-height: 36px;
    top: 10px;
    min-width: 36px;
    line-height: 1;
    font-size: 10px; }
    body md-content .save-button md-icon {
      display: block; }
  body md-content md-whiteframe {
    background-color: #283593;
    height: 36px;
    justify-content: space-between !important;
    padding: 0px 10px;
    border-radius: 3px; }
    body md-content md-whiteframe * {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      font-weight: 600; }
  body .flex {
    display: flex; }
  body .fvc {
    align-items: center; }
  body .fhc {
    justify-content: center; }
