::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #999;
}

body,
html {
  width: 350px;
  padding: 0;
  margin: 0;
  min-height: auto !important;
  height: 370px !important;
  md-tooltip {
    .md-content {
      line-height: 0;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      height: 26px;
      span {
        line-height: 0;
        font-size: 12px;
      }
    }
  }
  md-toast {
    bottom: -12px !important;
  }
  .md-toolbar-tools {
    * {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0px;
    }
  }
  .select-item-list {
    .item-name {
      width: 70%;
    }
    .items-actions {
      justify-content: flex-end;
      >button:first-child {
        margin-right: 5px;
      }
      .i-action {
        min-width: 24px;
        width: 25px;
        margin: 0;
        padding: 5px;
        max-width: 25px;
        height: 25px;
        md-icon {
          margin: 0;
        }
      }
    }
  }
  md-content {
    .md-button.fill-button {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 50%;
      transform: translateX(-50%);
      background-color: rgb(40, 53, 147) !important;
    }
    .read-container {
      max-height: 50px;
      input {}
      .md-button {}
    }
    .save-button {
      max-height: 36px;
      top: 10px;
      min-width: 36px;
      line-height: 1;
      font-size: 10px;
      md-icon {
        display: block;
        color: rgb(40, 53, 147) !important;
      }
      span {
        color: rgb(40, 53, 147) !important;
      }
    }
    .read-button {
      background-color: rgb(40, 53, 147) !important;
    }
    md-whiteframe {
      background-color: rgb(40, 53, 147);
      height: 36px;
      justify-content: space-between !important;
      padding: 0px 10px;
      border-radius: 3px;
      * {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        font-weight: 600;
      }
      .extend-button-container {
        .extend-button {
          min-height: 26px;
          margin: 0;
          padding: 0;
          min-width: 26px;
          border-radius: 100%;
          .md-ripple-container {
            border-radius: 100% !important;
          }
        }
      }
    }
    .preview-window {
      margin: 0;
      height: 100px;
      padding: 5px 0px;
      overflow: auto;
      background-color: white;
      box-shadow: 0px 0px 7px -4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .item {
        .i-name,
        .i-value {
          width: 25%;
          word-spacing: normal;
          word-wrap: break-word;
          word-break: break-all;
          padding: 5px 10px;
        }
        .i-value {
          width: 70%;
        }
      }
    }
    .preview-window.ng-enter {
      transition: 0.5s linear all;
      height: 0px;
    }
    /* The finishing CSS styles for the enter animation */
    .preview-window.ng-enter.ng-enter-active {
      height: 100px;
    }
    .preview-window.ng-leave {
      transition: 0.5s linear all;
      height: 100px;
    }
    .preview-window.ng-leave.ng-leave-active {
      height: 0px;
    }
  }
  .flex {
    display: flex;
  }
  .fvc {
    align-items: center;
  }
  .fhc {
    justify-content: center;
  }
}