body {
  width: 350px;
  padding: 0;
  margin: 0;
  md-content {
    .md-button.fill-button {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    .read-container {
      max-height: 50px;
      input {}
      .md-button {}
    }
    .save-button {
      max-height: 36px;
      top: 10px;
      min-width: 36px;
      line-height: 1;
      font-size: 10px;
      md-icon {
        display: block;
      }
    }
    md-whiteframe {
      background-color: rgb(40, 53, 147);
      height: 36px;
      justify-content: space-between !important;
      padding: 0px 10px;
      border-radius: 3px;
      * {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
  .flex {
    display: flex;
  }
  .fvc {
    align-items: center;
  }
  .fhc {
    justify-content: center;
  }
}