::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #999; }

body,
html {
  width: 350px;
  padding: 0;
  margin: 0;
  min-height: auto !important;
  height: 370px !important; }
  body .md-toolbar-tools *,
  html .md-toolbar-tools * {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px; }
  body md-content,
  html md-content {
    /* The finishing CSS styles for the enter animation */ }
    body md-content .md-button.fill-button,
    html md-content .md-button.fill-button {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 50%;
      transform: translateX(-50%);
      background-color: #283593 !important; }
    body md-content .read-container,
    html md-content .read-container {
      max-height: 50px; }
    body md-content .save-button,
    html md-content .save-button {
      max-height: 36px;
      top: 10px;
      min-width: 36px;
      line-height: 1;
      font-size: 10px; }
      body md-content .save-button md-icon,
      html md-content .save-button md-icon {
        display: block;
        color: #283593 !important; }
      body md-content .save-button span,
      html md-content .save-button span {
        color: #283593 !important; }
    body md-content .read-button,
    html md-content .read-button {
      background-color: #283593 !important; }
    body md-content md-whiteframe,
    html md-content md-whiteframe {
      background-color: #283593;
      height: 36px;
      justify-content: space-between !important;
      padding: 0px 10px;
      border-radius: 3px; }
      body md-content md-whiteframe *,
      html md-content md-whiteframe * {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        font-weight: 600; }
      body md-content md-whiteframe .extend-button-container .extend-button,
      html md-content md-whiteframe .extend-button-container .extend-button {
        min-height: 26px;
        margin: 0;
        padding: 0;
        min-width: 26px;
        border-radius: 100%; }
        body md-content md-whiteframe .extend-button-container .extend-button .md-ripple-container,
        html md-content md-whiteframe .extend-button-container .extend-button .md-ripple-container {
          border-radius: 100% !important; }
    body md-content .preview-window,
    html md-content .preview-window {
      margin: 0;
      height: 100px; }
    body md-content .preview-window.ng-enter,
    html md-content .preview-window.ng-enter {
      transition: 0.5s linear all;
      height: 0px; }
    body md-content .preview-window.ng-enter.ng-enter-active,
    html md-content .preview-window.ng-enter.ng-enter-active {
      height: 100px; }
    body md-content .preview-window.ng-leave,
    html md-content .preview-window.ng-leave {
      transition: 0.5s linear all;
      height: 100px; }
    body md-content .preview-window.ng-leave.ng-leave-active,
    html md-content .preview-window.ng-leave.ng-leave-active {
      height: 0px; }
  body .flex,
  html .flex {
    display: flex; }
  body .fvc,
  html .fvc {
    align-items: center; }
  body .fhc,
  html .fhc {
    justify-content: center; }
